.checkbox {
  flex-shrink: 0;
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0;
  border: 1px solid var(--color-gray-4);
  border-radius: 4px;

  &:checked {
    background-color: var(--color-dark-2);
    border-color: var(--color-dark-2);

    & + .label {
      color: var(--color-gray-4);
      text-decoration: line-through;
    }
  }

  &:not(:checked) {
    &::after {
      opacity: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 16px;
    height: 16px;
    background: url("@/shared/assets/icons/icon-check_white.svg") center/contain no-repeat;
  }
}